begin input
   begin PGENameGroup
      PGEName = OCOFullPhysics 
   end PGENameGroup

   begin InputProductFiles
      L1BFile = NONE
      ResampledMetFile = NONE
      CO2PriorFile = NONE
      IMAPFile = NONE
      ABandFile = NONE
   end InputProductFiles

   begin AlternativeSettings
   end AlternativeSettings

   begin OCOFullPhysics
      AggregateCounter = 1
      begin LIST
         name = SoundingIds
         begin VALUES
            2006091412195805
            2006091412200003
            2006091412200005
            2006091412200203
            2006091412200205
         end VALUES

      end LIST

   end OCOFullPhysics

end input

