# Required Python packages
# Use with pip install -r requirements.txt
ply
numpy
scipy
matplotlib
h5py
nose
pyproj
pyephem
blessings
progressbar2
# Needed while we support both python 2 and 3
future
six
