<?xml version="1.0" encoding="UTF-8"?>
<input xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:xalan="http://xml.apache.org/xslt"
       xmlns:cas="http://oodt.jpl.nasa.gov/1.0/cas"
       xsi:noNamespaceSchemaLocation="/space/sdos/intops/deploy/PCS/B2.09.00/ext/aux/schema/oco_parameterfile_060401120000.xsd">
   <group name="PrimaryExecutable">
      <scalar name="Version">B2.09.00</scalar>
      <scalar name="FullPathname">ACOSConfigL2FP</scalar>
   </group>
   <group name="Geometry">
      <scalar name="StartPathNumber">37</scalar>
      <scalar name="EndDateTime">2009-06-27T21:47:13.288Z</scalar>
      <scalar name="OrbitOfDay">14</scalar>
      <scalar name="StartDateTime">2009-06-27T20:56:40.834Z</scalar>
      <scalar name="NominalDay">090627</scalar>
   </group>
   <group name="LogMetadata">
      <scalar name="ProcessingNode">sif-0-58.local</scalar>
      <vector name="CommandLineParameters">
         <element>not_used</element>
         <element>not_used</element>
      </vector>
   </group>
   <group name="InputProductFiles">
      <scalar name="L1BFile">./acos_L1b_090627_37_Production_v050050_L1b2900_r11_110519235857i.h5</scalar>
      <scalar name="CloudFile">./acos_Cld_090627_37_Production_v050050_Cld2900_r11_110520020803i.h5</scalar>
      <scalar name="ResampledMetFile">./acos_Ecm_090627_37_Production_v050050_Ecm2900_r11_110520015705i.h5</scalar>
   </group>
   <group name="SCFIdentification">
      <scalar name="CollectionLabel">Test_v050050_Fph2900_r11</scalar>
      <scalar name="ArchiveLocation">acos</scalar>
      <scalar name="DataProvider">intops</scalar>
      <scalar name="Comments">nada</scalar>
   </group>
   <group name="JobIdentification">
      <scalar name="ModelId">AcosConfigL2FP_Task</scalar>
      <scalar name="JobId">fb39a01a-55fa-4b6e-a3cb-de2127ae25c1</scalar>
      <scalar name="TaskId">3847c804-ecc7-404c-836a-904de8a97e9c</scalar>
      <scalar name="ProductionDateTime">110523154640</scalar>
      <scalar name="ProductionLocation">System Integration</scalar>
      <scalar name="ProductionLocationCode">i</scalar>
      <scalar name="SpawnedByTaskId">f799203f-a1fd-43ea-8689-f0b48dbf7a02</scalar>
   </group>
   <group name="GOSATFullPhysics">
      <scalar name="NumSoundings">93</scalar>
      <scalar name="NumAggregatesInGranule">1</scalar>
      <scalar name="AggregateCounter">1</scalar>
      <vector name="SoundingIds">
         <element>20090627210055</element>
         <element>20090627210247</element>
         <element>20090627210309</element>
         <element>20090627210313</element>
         <element>20090627210318</element>
         <element>20090627210327</element>
         <element>20090627210331</element>
         <element>20090627210407</element>
         <element>20090627210425</element>
         <element>20090627210434</element>
         <element>20090627210500</element>
         <element>20090627210505</element>
         <element>20090627210518</element>
         <element>20090627210523</element>
         <element>20090627210527</element>
         <element>20090627210745</element>
         <element>20090627210825</element>
         <element>20090627210910</element>
         <element>20090627210923</element>
         <element>20090627210928</element>
         <element>20090627211004</element>
         <element>20090627211012</element>
         <element>20090627211039</element>
         <element>20090627211124</element>
         <element>20090627211351</element>
         <element>20090627211355</element>
         <element>20090627211400</element>
         <element>20090627211404</element>
         <element>20090627211409</element>
         <element>20090627211413</element>
         <element>20090627211418</element>
         <element>20090627211422</element>
         <element>20090627211427</element>
         <element>20090627211431</element>
         <element>20090627211436</element>
         <element>20090627211444</element>
         <element>20090627211449</element>
         <element>20090627211502</element>
         <element>20090627211507</element>
         <element>20090627211511</element>
         <element>20090627211516</element>
         <element>20090627211520</element>
         <element>20090627211525</element>
         <element>20090627211529</element>
         <element>20090627211534</element>
         <element>20090627211538</element>
         <element>20090627211542</element>
         <element>20090627211547</element>
         <element>20090627211551</element>
         <element>20090627211556</element>
         <element>20090627211600</element>
         <element>20090627211605</element>
         <element>20090627211609</element>
         <element>20090627211614</element>
         <element>20090627211618</element>
         <element>20090627211623</element>
         <element>20090627211627</element>
         <element>20090627211632</element>
         <element>20090627211636</element>
         <element>20090627211640</element>
         <element>20090627211649</element>
         <element>20090627211654</element>
         <element>20090627211658</element>
         <element>20090627211703</element>
         <element>20090627211707</element>
         <element>20090627211712</element>
         <element>20090627211721</element>
         <element>20090627211725</element>
         <element>20090627211729</element>
         <element>20090627211734</element>
         <element>20090627211738</element>
         <element>20090627211752</element>
         <element>20090627212202</element>
         <element>20090627212206</element>
         <element>20090627212210</element>
         <element>20090627212215</element>
         <element>20090627212219</element>
         <element>20090627212228</element>
         <element>20090627212237</element>
         <element>20090627212242</element>
         <element>20090627212246</element>
         <element>20090627212251</element>
         <element>20090627212255</element>
         <element>20090627212300</element>
         <element>20090627212304</element>
         <element>20090627212308</element>
         <element>20090627212313</element>
         <element>20090627212317</element>
         <element>20090627212322</element>
         <element>20090627212326</element>
         <element>20090627212331</element>
         <element>20090627212335</element>
         <element>20090627212340</element>
      </vector>
   </group>
   <group name="RecordedAuxiliaryInputFiles">
      <scalar name="SoundingFile">acos_Snd_090627_37_Production_v050050_Sel2900_r11_110520025343i.txt</scalar>
   </group>
   <group name="PGENameGroup">
      <scalar name="PGEName">GOSATFullPhysics</scalar>
   </group>
   <group name="StaticFileIdentificationFiles">
      <scalar name="SFIFFilename">acos_sfif_empty_101018232204.xml</scalar>
   </group>
   <group name="ProductPathGroup">
      <scalar name="ProductPath">./acos_Fph_090627_37_Test_v050050_Fph2900_r11_110523154640i</scalar>
   </group>
   <group name="GOSATIdentification">
      <scalar name="TFTSVersion">050050</scalar>
   </group>
   <group name="DynamicAuxiliaryInputFiles">
      <scalar name="Default">pcs_stub</scalar>
   </group>
   <group name="MonitorGroup">
      <scalar name="MonitorSwitch">OFF</scalar>
   </group>
</input>