begin input
   begin PGENameGroup
      PGEName = GOSATFullPhysics 
   end PGENameGroup

   begin InputProductFiles
      L1BFile = /home/smyth/Level2/test/tccon_small_set/acos_L1bB2900_tccon_5_good_qual.h5
      ResampledMetFile = /home/smyth/Level2/test/tccon_small_set/acos_EcmB2900_tccon_5_good_qual.h5
      CloudFile = /home/smyth/Level2/test/tccon_small_set/acos_CldB2900_tccon_5_good_qual.h5 
   end InputProductFiles

   begin AlternativeSettings
   end AlternativeSettings

   begin GOSATFullPhysics
      AggregateCounter = 1
      begin LIST
         name = SoundingIds
         begin VALUES
            20100223034944
            20100411193547
            20100417193547
            20100831023103
            20100914193918
         end VALUES

      end LIST

   end GOSATFullPhysics

end input

