begin input
   begin PGENameGroup
      PGEName = GOSATFullPhysics 
   end PGENameGroup

   begin PrimaryExecutable
   end PrimaryExecutable

   begin InputProductFiles
      L1BFile = /data/smyth/Level2/test/tccon_small_set/acos_L1bB2900_tccon_5_good_qual.h5
      ResampledMetFile = /data/smyth/Level2/test/tccon_small_set/acos_EcmB2900_tccon_5_good_qual.h5
      CloudFile = /data/smyth/Level2/test/tccon_small_set/acos_CldB2900_tccon_5_good_qual.h5 
   end InputProductFiles

   begin AlternativeSettings
   end AlternativeSettings

   begin StaticFileIdentificationFiles
   end StaticFileIdentificationFiles

   begin DynamicAuxiliaryInputFiles
   end DynamicAuxiliaryInputFiles

   begin GOSATFullPhysics
      AggregateCounter = 1
      begin LIST
         name = SoundingIds
         begin VALUES
            20090827005603
            20090925130238
            20100223034944
            20100831023103
            20100914193918
         end VALUES

      end LIST

   end GOSATFullPhysics

end input

