begin SETTINGS
   type_constants_filename  = <CONTROL_FILE_PARENT_DIR>/fts/fts_constants.rcf
   config_id_section        = input->FTSFullPhysics->FTSObsIds
end SETTINGS

begin CONTROL_FILES
   common/check_processable.rcf
   common/init_aggregate_dir.rcf
   fts/init_aggregate_dir.rcf
   fts/setup_static_files.rcf
   common/setup_config.rcf
   fts/setup_base_config.rcf
   fts/generate_apriori_files.rcf
   common/set_report_header.rcf
   fts/create_torque_scripts.rcf
end CONTROL_FILES
