begin SETTINGS
   type_constants_filename  = <CONTROL_FILE_PARENT_DIR>/gosat/gosat_constants.rcf
   config_id_section        = input->GOSATFullPhysics->SoundingIds
end SETTINGS

begin CONTROL_FILES
   common/check_processable.rcf
   common/init_aggregate_dir.rcf
   gosat/init_aggregate_dir.rcf
   common/set_report_header.rcf
   common/create_torque_scripts.rcf
end CONTROL_FILES

