# Creates a parallel copy of an existing set of simulation runs where
# the spectra file have noise added to them.
# Then this new copy can be used for retrieval runs

# Prepend the name of the source spectra..
begin SETTINGS
   prefix_name = 'eval(os.path.basename("<simulation_runs_dir>"))'
end SETTINGS

include = <CONTROL_FILE_DIRECTORY>/tests_base.config

# Copy simulation spectra
include = <modifiers_dir>/file/copy_simulation_spectra.inc

# Link to scenario files used in simulation
include = <modifiers_dir>/file/link_simulation_scenario_files.inc

# Link to files used in simulation
include = <modifiers_dir>/file/link_true_files.inc

# Add noise to simulation spectra
include = <modifiers_dir>/file/add_spectral_noise.inc

