# Creates analytic jacobian testcases

include = <CONTROL_FILE_DIRECTORY>/tests_base.config

begin SETTINGS
   use_run_mode      = JACOBIAN_ONLY
   use_jacobian_mode = ANALYTIC
end SETTINGS

#####
# Below here is the run_dir_include portion

# Test permutations of lsi, polarization on, off
include = <CONTROL_FILE_DIRECTORY>/lsi_testing.inc
include = <CONTROL_FILE_DIRECTORY>/polarization_testing.inc

# Copy scenario files as they will be modified
include = <modifiers_dir>/file/copy_scenario_files.inc

# Use scenario values as truth
include = <CONTROL_FILE_DIRECTORY>/scenario_truth_common.inc

# Resample to retrieval levels
include = <modifiers_dir>/resample/resample_atmosphere_file.inc
include = <modifiers_dir>/resample/resample_aerosol_file.inc

# Use aerosol profiles as present in apriori file
include = <modifiers_dir>/aer/config_aer_from_apriori.inc

# Set jacobian mode
include = <modifiers_dir>/run/set_jacobian_mode.inc

# Create linear covariance for aerosol to satisfy file header checking
include = <modifiers_dir>/aer/create_aerosol_linear_cov.inc
