# Include petrurbations on all but aerosol
include = <CONTROL_FILE_DIRECTORY>/retrieval_perturb_common.config

# Resample to retrieval levels
include = <modifiers_dir>/resample/resample_aerosol_file.inc

# Now perturb aerosol, meaning use subset of profiles from operation
# set. Ex. convert clat_* to aero1 or aero2, wc_* to wc, etc..
include = <modifiers_dir>/perturb/perturb_aerosol_file.inc

# Set to use log aerosol in apriori
include = <modifiers_dir>/aer/set_aer_log_mode.inc

# Setup aerosols now after the apriori file has been modified
include = <modifiers_dir>/aer/config_aer_from_apriori.inc
