# Include petrurbations on all but aerosol
include = <CONTROL_FILE_DIRECTORY>/retrieval_perturb_common.config

# Setup aerosols using standard aerosol profiles based on range of true aerosol aod values
# Get rid of scenario aerosol file
include = <modifiers_dir>/aer/config_aer_standard_profiles.inc
