# Creates retrieval runs that use the scenario source files as is with no modifications other
# than resampling

include = <CONTROL_FILE_DIRECTORY>/tests_base.config

begin SETTINGS
   use_run_mode = RETRIEVAL
   use_lsi      = False
end SETTINGS

#####
# Below here is the run_dir_include portion

# Link to original scenario files as the true values
# may be on different levels
include = <modifiers_dir>/file/link_true_files.inc

# Copy scenario files as they will be modified
# May need to resample to our pressure grid below, so do a copy
include = <modifiers_dir>/file/copy_use_true_files.inc

# Include common simulation configuration
include = <CONTROL_FILE_DIRECTORY>/scenario_truth_common.inc

# Link to simulation spectra
# Requires that user supply <simulation_runs_dir> on command line
include = <modifiers_dir>/file/link_simulation_spectra.inc

# Resample to retrieval levels
include = <modifiers_dir>/resample/resample_atmosphere_file.inc
include = <modifiers_dir>/resample/resample_aerosol_file.inc

# Set to use log aerosol in apriori
include = <modifiers_dir>/aer/set_aer_log_mode.inc
# Use aerosol profiles as present in apriori file
include = <modifiers_dir>/aer/config_aer_from_apriori.inc
