# Creates retrieval runs that use the scenario source files and perturbs the apriori
# according to standard perturbation amounts
#
# Handles all but aerosol perturbation
# But the case of aersol needs to be handle in case true files need to be resamples

include = <CONTROL_FILE_DIRECTORY>/tests_base.config

begin SETTINGS
   use_run_mode = RETRIEVAL
end SETTINGS

#####
# Below here is the run_dir_include portion

# Link to original scenario files as the true values
include = <modifiers_dir>/file/link_true_files.inc

# Copy scenario files as they will be modified
# May need to resample to our pressure grid below, so do a copy
include = <modifiers_dir>/file/copy_use_true_files.inc

# Include common simulation configuration
include = <CONTROL_FILE_DIRECTORY>/scenario_truth_common.inc

# Link to simulation spectra
# Requires that user supply <simulation_runs_dir> on command line
include = <modifiers_dir>/file/link_simulation_spectra.inc

# Resample to retrieval levels
include = <modifiers_dir>/resample/resample_atmosphere_file.inc

# Perturb truth inputs
include = <modifiers_dir>/perturb/perturb_atmosphere_file.inc
include = <modifiers_dir>/perturb/perturb_psurf_file.inc

include = <modifiers_dir>/perturb/perturb_albedo_file.inc
include = <modifiers_dir>/perturb/perturb_windspeed_file.inc

# Include any modifications to solar apriori
include = <modifiers_dir>/inp/set_solar_apriori.inc

# Include any modifications to which absco tables are used
include = <modifiers_dir>/inp/set_absco_tables.inc
