# Does the additional step of setting up CO2 to from the apriori database

begin SETTINGS
    perturb_list = 'T H2O O2'

    aerosol_apriori_type = 'profile'

    # Orbit simulation retrievals number
    global_mean_xco2 = '374.25'
end SETTINGS

# Set up perturbations using standard aerosol types
include = <CONTROL_FILE_DIRECTORY>/retrieval_perturb_standard_aerosols.config

# Create albedo based on spectra
include = <modifiers_dir>/apriori/create_surface_apriori.inc

# Load CO2 from database
include = <modifiers_dir>/apriori/load_co2_apriori.inc

# Load dispersion apriori
include = <modifiers_dir>/apriori/load_disp_apriori.inc
