# Creates simulation directories on the full number of levels of the input
# scenario data

include = <CONTROL_FILE_DIRECTORY>/tests_base.config

#####
# Below here is the run_dir_include portion

# Link instead of copying since scenario files will not be modified
include = <modifiers_dir>/file/link_scenario_files.inc

# Include common simulation configuration
include = <CONTROL_FILE_DIRECTORY>/simulation_common.inc

# Use aerosol profiles as present in apriori file
include = <modifiers_dir>/aer/config_aer_from_apriori.inc
