# Creates simulation directories on the full number of levels of the input
# scenario data and using standard aerosol profiles with true aerosol types

include = <CONTROL_FILE_DIRECTORY>/tests_base.config

#####
# Below here is the run_dir_include portion

# Copy scenario files as they will be modified
include = <modifiers_dir>/file/copy_scenario_files.inc

# Include common simulation configuration
include = <CONTROL_FILE_DIRECTORY>/simulation_common.inc

# Configure aerosols of same aerosol type but with standard profiles
include = <modifiers_dir>/perturb/perturb_aerosol_file.inc

# Resample to retrieval levels
include = <modifiers_dir>/resample/resample_atmosphere_file.inc
include = <modifiers_dir>/resample/resample_aerosol_file.inc

# Set to use log aerosol in apriori
include = <modifiers_dir>/aer/set_aer_log_mode.inc

# Use aerosol profiles as present in apriori file
include = <modifiers_dir>/aer/config_aer_from_apriori.inc
