# This configuration does nothing more than copy the template
# into the destination case directories for the default scenario setup
# It also defines basic configuration varibles. It should be includes
# and expanded upon by subsquent configuration definitions.

begin SETTINGS
   # <config_filename> resolves to file passed in as
   # configuration file to populate.py. In the way these
   # files are set up this keyword should be the particular
   # configurations file such as this one or one that includes
   # this one.

   # Instruct populator the file passed as run set configuration
   # also contains instructions on which control files to run.
   control_config_file      = <config_filename>

   # Instruct the generate_run_dirs.rcf control file to
   # include this file with instructions on how to build 
   # run directories
   run_dir_include_filename = <config_filename>

   # Name of this configuration based on filename of the config file
   configuration_name = 'eval( ("<prefix_name|>" and "<prefix_name|>-" or "" ) + str(os.path.splitext(os.path.basename("<config_filename>"))[0]) + ("<user_identifier|>" and "_<user_identifier|>" or "") )'

   # Base directory where to place test cases
   # If not defined externally defaults to a path relative to where script is run
   tests_base_dir           = '<tests_base_dir|test_cases>'

   # Where the populator dumps debugging information and
   # where setup files between control files can be dumped
   setup_dir                = <tests_base_dir>/setup/<configuration_name>

   # Where to find the modifiers used to manipulate the run directories
   modifiers_dir = <CONTROL_FILE_PARENT_DIR>/control_files/modifiers

   # Default setup for sources of data for creating run directories
   scenario_include_filename = <CONTROL_FILE_DIRECTORY>/default_scenario_setup.inc
end SETTINGS

# Include settings for where to load scenario files and what instruments, brdf types
# to cover
include = <scenario_include_filename>

begin CONTROL_FILES
   <CONTROL_FILE_PARENT_DIR>/control_files/generate_static_dir.rcf
   <CONTROL_FILE_PARENT_DIR>/control_files/generate_run_dirs.rcf
end CONTROL_FILES

#####
# Below here is the run_dir_include portion

# These keywords can be modified wholesale or appended to
# in subsequent KEYWORD blocks by doing something like this
#   configuration_sub_dirs    = <configuration_sub_dirs>/my_new_path/
#   configuration_case_suffix = before_<configuration_case_suffix>_after
begin KEYWORDS
   configuration_sub_dirs    = ''
   configuration_case_suffix = ''
end KEYWORDS
